.UserProfile {
    position: absolute;
    align-self: flex-end;
    width: 35vh;
    height: 100vh;
}

.UserProfile__container {
    background-color: var(--color-bg);
    width: 35vh;
    height: 100vh;
    color: var(--color-text);
    align-items: center;
    justify-content: space-between;
    box-shadow: -0.25vh 0 5vh black;
    overflow: hidden;
}

.UserProfile__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vh;
    margin-top: 5vh;
}

.UserProfile__profile-picture {
    width: 15vh;
    height: 15vh;
    overflow: hidden;
}

.UserProfile__profile-image--default {
    font-size: 20vh;
    padding-top: 2vh;
    color: white;
    background-color: gray;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.UserProfile__profile-image {
    border-radius: 100%;
    width: 100%;
}

.UserProfile__username {
    font-size: 1.4rem;
    font-weight: 600;
}

.UserProfile__profile-edit {
    background-color: #ffcc00;
    border: none;
    width: 20vh;
    height: 5vh;
    border-radius: 20vw;
    font-family: Inter;
    font-size: 1.1rem;
    font-weight: 600;
    transition: 0.15s ease-in-out;
    cursor: pointer;
}

.UserProfile__profile-edit:hover {
    background-color: #ff9900;
}

.UserProfile__options {
    margin-bottom: 5vh;
    gap: 3vh;
}

.UserProfile__options button {
    border: none;
    background-color: transparent;
    font-family: Inter;
    font-size: 1.1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    transition: 0.1s ease-in-out;
    cursor: pointer;
}

.UserProfile__change-password {
    color: var(--color-text);
}

.UserProfile__change-password:hover {
    color: gray;
}

.UserProfile__signout-button {
    gap: 1vh;
    color: red;
}

.UserProfile__signout-button:hover {
    color: crimson;
}

.UserSettings__transition-enter {
    opacity: 0;
    transform: translateX(100%);
}

.UserSettings__transition-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: transform 0.2s ease-in, opacity 0.2s ease-in;
}

.UserSettings__transition-exit {
    opacity: 1;
    transform: translateX(0);
}

.UserSettings__transition-exit-active {
    opacity: 0;
    transform: translateX(100%);
    transition: transform 0.2s ease-in, opacity 0.2s ease-in;
}