.UserSettings {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--color-bg);
}

.UserProfile__container {
    background-color: var(--color-bg);
    width: 100%;
    height: 100%;
    color: var(--color-text);
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.UserSettings__back-button {
    background-color: transparent;
    border: none;
    font-size: 1.4rem;
    position: fixed;
    margin: 2vh;
    color: var(--color-text);
    transition: 0.15s ease-in-out;
    cursor: pointer;
}

.UserSettings__back-button:hover {
    color: gray;
}

.UserSettings__form-container {
    margin-top: 5vh;
}

.UserSettings__form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
}