.UserSettings {
    background-color: var(--color-bg);
    width: 50vh;
    height: 100vh;
    color: var(--color-text);
    position: absolute;
    align-self: flex-end;
    justify-content: space-between;
    align-items: center;
    box-shadow: -0.25vh 0 5vh black;
    user-select: none;
}

.UserSettings__back-button {
    font-size: 1.5rem;
    margin: 3vh;
    width: fit-content;
    cursor: pointer;
    position: absolute;
    transition: 0.15s ease-in-out;
    align-self: flex-start;
}

.UserSettings__back-button:hover {
    color: gray;
}

.UserSettings__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    margin-top: 5vh;
}

.UserSettings__profile-picture {
    width: 15vh;
    height: 15vh;
    overflow: hidden;
}

.UserSettings__profile-image--default {
    font-size: 20vh;
    padding-top: 2vh;
    color: white;
    background-color: gray;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.UserSettings__profile-image {
    border-radius: 100%;
    width: 100%;
}

.UserSettings__username {
    font-size: 1.4rem;
    font-weight: 600;
}

.UserSettings__options {
    margin-bottom: 5vh;
    gap: 2vh;
}

.UserSettings__edit-button {
    border: none;
    background-color: transparent;
    font-family: Inter;
    font-size: 1.1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1vh;
    color: var(--color-text);
    font-weight: 600;
    cursor: pointer;
    transition: 0.15s ease-in-out;
    margin: 2vh 0;
}

.UserSettings__edit-button:hover {
    color: gray;
}

.UserSettings__signout-button {
    border: none;
    background-color: transparent;
    font-family: Inter;
    font-size: 1.1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1vh;
    color: red;
    font-weight: 600;
    transition: 0.1s ease-in-out;
    cursor: pointer;
}

.UserSettings__signout-button:hover {
    color: crimson;
}

.EditUserData__transition-enter {
    opacity: 0;
    transform: translateX(100%);
}

.EditUserData__transition-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: transform 0.2s ease-in, opacity 0.2s ease-in;
}

.EditUserData__transition-exit {
    opacity: 1;
    transform: translateX(0);
}

.EditUserData__transition-exit-active {
    opacity: 0;
    transform: translateX(100%);
    transition: transform 0.2s ease-in, opacity 0.2s ease-in;
}