.ChangePassword {
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    user-select: none;
    gap: 6vh;
}

.ChangePassword__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
    width: fit-content;
}

.ChangePassword__form-container {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vh;
}

.ChangePassword__form-header {
    font-size: 2rem;
    font-family: JetBrains Mono;
    color: var(--color-text);
}

.ChangePassword__input-container {
    width: 40vh;
    gap: 1vh;
}

.ChangePassword__input-label {
    font-size: 1.2rem;
    font-family: JetBrains Mono;
}

.ChangePassword__input {
    border: none;
    padding: 10px;
    border: 2px solid #ffcc00;
    border-radius: 5px;
    background-color: black;
    color: white;
    height: 6vh;
    font-size: 1rem;
    font-family: Inter;
}

.ChangePassword__submit-button {
    padding: 10px 20px;
    width: 40vh;
    border: none;
    border-radius: 5px;
    background-color: #ffcc00; /* button color */
    color: black;
    font-size: 1.5rem;
    font-family: JetBrains Mono;
    font-weight: 600;
    cursor: pointer;
    transition: 0.15s ease-in-out;
}

.ChangePassword__submit-button:hover {
    background-color: #FDBE34;
}

.ChangePassword__error {
    color: red;
    margin-bottom: 10px;
    font-size: 1.1rem;
}