* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
    font-family: var(--font-family);
    background-color: var(--color-bg);
}

label {
    color: var(--color-text);
}

div {
    display: flex;
    flex-direction: column;
}

.display-none {
    display: none;
}

.logo {
    font-family: JetBrains Mono;
    font-size: 60px;
    font-weight: 700;
    background: linear-gradient(#402DD8, #FFE867);
    height: 90px;
    width: auto;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

h1, h2, h3, h4, h5 {
    color: var(--color-text);
}

p {
    color: var(--color-text);
    font-size: 1.2rem;
    font-weight:normal;;
}